.PropertyGrid {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 40rem;
  width: 30rem;
}

.PropertyGrid .Expander {
  display: none;
}

.PropertyGrid .Object {
  display: flex;
  flex-direction: column;
}

.PropertyGrid .Object > .Caption {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 1.2rem;
  user-select: none;
}

.PropertyGrid .Object > .Expander + .Caption::before {
  display: inline-block;
  content: "▶";
  width: 1.5rem;
  text-align: center;
  user-select: none;
}

.PropertyGrid .Object > .Expander:checked + .Caption::before {
  content: "▼";
}

.PropertyGrid .Object > .Expander ~ .ExpanderContent {
  display: none;
}

.PropertyGrid .Object > .Expander:checked ~ .ExpanderContent {
  display: block;
}

.PropertyGrid .Object > .Caption:hover,
.PropertyGrid .Value:hover {
  background: whitesmoke;
}

.PropertyGrid .Object > .Caption:active,
.PropertyGrid .Value:active {
  color: whitesmoke;
  background: cornflowerblue;
}

.PropertyGrid .Value {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 0.5rem;
  user-select: none;
}


.PropertyGrid .Value > .ExpanderContent {
  width: 70%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.PropertyGrid .Value > .ExpanderContent > input[type="text"].Editor,
.PropertyGrid .Value > .ExpanderContent > input[type="number"].Editor,
.PropertyGrid .Value > .ExpanderContent > input[type="checkbox"].Editor {
  width: 98%;
}

.PropertyGrid .Object > .Caption,
.PropertyGrid .Value {
  box-sizing: content-box;
  border-bottom: 1px solid silver;
}

.PropertyGrid {
  border: 1px solid silver;
}
