.Venture {
  /*background: pink;*/
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 30rem auto 10rem;
  grid-template-columns: 2fr 1fr;
  padding: 0.25rem;
}

.Venture > .Title {
  /*background: gold;*/
  position: relative;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  overflow: hidden;
  padding: 0.25rem;
}

.Venture > .Scene {
  /*background: palevioletred;*/
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  padding: 0.25rem;
}

.Venture > .Inventory {
  /*background: cornflowerblue;*/
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  overflow-y: auto;
  padding: 0.25rem;
}

.Venture > .Actions {
  /*background: yellowgreen;*/
  position: relative;
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  padding: 0.25rem;
}

.Venture > .Console {
  /*background: tomato;*/
  position: relative;
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 0.25rem;
}

.Venture .EditorButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.0rem;
  user-select: none;
}

.Venture .EditorButton:after {
  content: "✏️";
}
